<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/style.css?v=1.0.199">
</head8
<body>
    <div class="form">
    <h3 style="text-align: center;">Collect Data</h3>
    <form action='/data' method="GET">
       <p>Name</p><input name='x'class = value />
        <br>
        <p>Phone Number:</p><input name='y'class = value />
        <br>
        <p>Location</p><input name='z'class = value />
        <div style="margin-top: 10px;"><input type="submit" value="Add Data"></div>
    </form>
    <form action='/delete'><input type="submit" value="Delete All Data"></form>
</div>
</body>
</html>